.about-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.about {
    background-color: $bg-color-2;
    padding: 100px 0;
    height: 80vh;

    h3 {
        text-align: center;
        margin-top: 150px;
    }

    img {
        width: 100%;
        box-shadow: -30px 30px 1px -15px $accent-color;
        margin-top: 10%;
        }
    
    &__content {
        width: 30%;
        justify-content: center;

        &--img {
            width: 30%;
            height: 30%;
        }

        &--text {
            width: 60%;
            font-family: $second-font;
            text-align: left;
            margin-top: -90px;
            line-height: 1.2;
        }
    }
}


.talk {
    color: $accent-color;
    border-bottom: 2px solid $bg-color;
    &:hover {
        font-weight: 700;
    }
}

@media all and (max-width: 500px) {
    .about-flex {
        flex-direction: column;
    }

    .about {
        padding: 20px 10px;
        margin: 50px 50px;
        h3{
            margin-top: 50px;
        }

        img {
            box-shadow: -25px 25px 1px -15px $accent-color;
            margin-top: -10%;
        }
        &__content {

            &--img {
                width: 50%;
                margin-top: 10px;
            }

            &--text {
                width: 100%;
                margin-top: 10px;
            }

        }
    }


}
//     
//     img {
//         width: 100%;
//         box-shadow: -25px 25px 1px -15px $accent-color;
//         // box-shadow: 15px 15px 1px -5px $accent-color;
//         margin-top: 10%;
//         }
    
//     &__content {
//         width: 30%;
//         justify-content: center;

//         // &--img {
//         //     width: 30%;
//         //     height: 30%;
//         // }

//         &--text {
//             width: 60%;
//             font-family: $second-font;
//             text-align: left;
//             margin-top: -90px;
//             line-height: .8;
//         }
//     }
// }


// @media all and (max-width: 900px) {
// 	.about {
//         &__content {
//             flex-direction: column;
//             &--text {
//                 width: 100%;
//                 margin: 0 auto;
//                 margin-top: 40px;
//             }

//             &--img {
//                 width: 50%;
//                 margin: 0 auto;
//             }

//         }
//     }
// }

// @media all and (max-width: 720px) {
// 	.about {
//         &__content {

//             &--img {
//                 width: 80%;
//             }
//         }
//     }
// }