    .contact-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: -100px 0px;
    }

    .form-style {
        width: 100%;
    }

    .links {
        // bottom: 20px;
        // right:20px;
        // position: fixed;
        li{
            list-style-type: none;
            display: flex;
            display: inline-block;
            padding: 0 20px 0 20px;

        }
        i {
            font-size: 2rem;
            color: $accent-color;
        }

        a:focus,
        a:hover {
            transform: scale(1.2);
            color: $bg-color-2;
            transition: all .5s;
        }
    }


    .contact {
    background-color: $bg-color-2;
    border: 2px solid tomato;
    padding: 0px 0;
    margin-bottom: 1rem;
    width: 100%;    

    img {
        // margin-left: 25px;
        // margin-top: 25px;
        margin-bottom: -30px;
        width: 50%;
        box-shadow: -30px 30px 1px -15px $accent-color;
        margin: 10%;
    }

    p {
        text-align: left;
        font-size: 1rem;
        color: $accent-color;
        margin-bottom: 50px;
    }
    
    h3 {
        text-align: left;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
        background-color: #fff;
        margin-bottom: 2%;
        color: #000;
		font-family: inherit;
		padding: 15px 20px;
		border-radius: 5px;
		border: none;
        border-bottom: 7px solid transparent;
        display: block;
        
        &:focus {
			outline: none;
			box-shadow: 0 10px 20px rgba($accent-color, .2);
			border-bottom: 8px solid $accent-color;
		}

		&::-webkit-input-placeholder {
			color: #000;
        }
    }

    textarea {
        width: 100%;
        background-color: #fff;
        color: #000;
        border: none;
        // border-radius: 2px;
        padding: 15px 20px;
        border-bottom: 8px solid transparent;
        resize: none;

        &::-webkit-input-placeholder {
			color: #000;
        }

        &:focus {
			outline: none;
			box-shadow: 0 10px 20px rgba($accent-color, .2);
			border-bottom: 8px solid $accent-color;
		}
    }

    input[type="submit"] {
        border: none;
        padding: 10px 20px;
        background-color: $accent-color;
        color: #fff;
        margin-top: 50px;
        text-align: center;

        &:hover,
        &:focus {
            color: $accent-color;
            background-color: darken($accent-color, 50%);
            transition: all .3s;
        }
    }

    .btn {
        text-align: left;
        // border-radius: 50px;
    }

    ::placeholder {
        color: #000;
    }
}

// Media Queries 

@media all and (max-width: 500px) {
    .contact-flex{
        flex-direction: column;
        padding: 0px 0px;    

    .links {
        li{
            display: inline-block;
            padding: 0 20px 0 0px;
        }
        i {
            font-size: 1.5rem;
            color: $accent-color;
        }
    }
    }
}