footer {
    background-color: $accent-color;
    padding-top: 5px;
    color: $bg-color;
    text-align: center;
    padding-bottom: 1px;
    position: relative;
    
    ul{
        list-style-type: none;

    }
    li {
        padding: 10px;
    }

    p {
        font-size: 1rem;
        padding-top: 10px;
    }

    a{
        font-size: 1.2rem; 
    }
    
    .top {
        bottom: 40px;
        right: 50px;
        position: fixed;

        .up{
        width: 50px;
        height: 50px;
        background: $accent-color;
        // border-radius: 50%;
        position: absolute;
        bottom: 10px;
        padding: 10px;
        // top: 10px;
        // left: 50%;
        transform: translate(-50%);
        text-align: center;
        color: $bg-color;
        }
    }
}


//   media queries

@media all and (max-width: 900px) {
	footer {
        .links {
            position: static;
            ul {
                display: flex;
                display: inline-block;
            }

            i {
                font-size: 1.5rem;
            }

            li {
                display: inline-block;
                text-align: center;
            }
        }

        .up {
            bottom: 120px;
        }
    }
}