.portfolio-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio {
    padding: 70px 0;
    h3 {
        text-align: center;
    }

    h4{
        text-align: left; 
        
        color: $bg-color;
        width: 50%;
    }
    img {
        // margin-bottom: 50px;
        width: 80%;
        box-shadow: -25px 25px 1px -15px $accent-color;
        }

    &__content {
        display: flex;
        justify-content: center;
        padding: 80px 0;

        &--img {
            width: 50%;
        }

        &--text-right,
        &--text-left {
            width: 60%;
        }

        // p:nth-of-type(1) {
        //     color: $accent-color;
        //     font-weight: 700;
        // }

        // p:nth-of-type(2) {
        //     font-size: 0.8rem;
        // }

        // &--text-right {
        //     padding-left: 5%;
        // }

        // &--text-left {
        //     padding-right: 5%;
        // }

        a.btn {
            padding: 10px 20px;
            background-color: $accent-color;
            color: #fff;
        }

        &:nth-of-type(2n) {
            text-align: right;
        }

        .btn:hover,
        .btn:focus {
            color: $accent-color;
            background-color: darken($accent-color, 50%);
            transition: all .5s;
        }
    }
}

.recent-work-info{
    
    li{
        font-size: 2.3rem;
        display: inline;
    }
    i{
        font-size: 3rem;
        color: $bg-color;
    }
}




@media all and (max-width: 1000px) {
    .portfolio {
        &__content {
            padding: 40px 0;
            flex-direction: column;
            &--img {
                width: 90%;
                margin: 0 auto;
            }
    
            &--text-right,
            &--text-left {
                width: 90%;
                padding: 0;
                text-align: center;
                margin: 0 auto;
            }
        }

        &__content:nth-child(3) {
            flex-direction: column-reverse;
        }

        &__content:nth-child(5) {
            flex-direction: column-reverse;
        }

        h4 {
            padding-top: 30px;
        }
    }
}

@media all and (max-width: 580px) {
    .portfolio {
        &__content {

            h4 {
                font-size: 1rem;
            }
        }
    }
}



