article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textField;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: black;
  color: white;
}

.skip-link:focus {
  left: 0;
}

.wrapper {
  max-width: 1280px;
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f1f1f1;
}

h1 {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  color: #BB9A60;
}

h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #BB9A60;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #BB9A60;
  font-size: 3rem;
}

h4 {
  font-family: "Montserrat", sans-serif;
  color: #BB9A60;
  font-size: 2rem;
}

p {
  font-family: "Lato", sans-serif;
  color: #2C3E50;
  font-size: 1.4rem;
  line-height: 1.2;
}

a {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  color: #2C3E50;
}

.content-block {
  height: 35vh;
  background: #f1f1f1;
  z-index: 30;
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
}

.menu, .menu__bg, .menu__burger {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align: center;
  right: 25px;
  top: 17px;
  z-index: 10;
}

.menu__bg {
  background: #BB9A60;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 50px;
  top: 50px;
  -webkit-transform: translate3d(50%, -50%, 0);
          transform: translate3d(50%, -50%, 0);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.menu__bg.fs {
  -webkit-transform: translate3d(50%, -50%, 0);
          transform: translate3d(50%, -50%, 0);
  width: 300vw;
  height: 300vw;
  background-color: rgba(0, 0, 0, 0.95);
}

.menu__burger {
  color: #2C3E50;
  padding-top: 11px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.menu__burger.fs {
  -webkit-transform: rotate(-180deg) translateY(10px);
          transform: rotate(-180deg) translateY(10px);
}

.navigation__menu {
  position: absolute;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  font-weight: bold;
  font-size: 45px;
  letter-spacing: 10px;
  text-align: center;
  left: 45%;
  top: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  pointer-events: none;
}

.navigation__menu ul {
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
}

.navigation__menu.fs {
  list-style-type: none;
  pointer-events: auto;
  opacity: 1;
  z-index: 50;
  position: fixed;
}

.navigation__menu.fs ul {
  opacity: 1;
  text-align: center;
  z-index: 50;
}

.navigation__menu a {
  color: #BB9A60;
  padding: 20px;
}

.navigation__menu a:hover, .navigation__menu a:focus {
  color: #f1f1f1;
}

@media all and (max-width: 700px) {
  .navigation__menu a {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 580px) {
  .navigation__menu a {
    font-size: 1rem;
  }
}

@media all and (max-width: 470px) {
  .navigation__menu a {
    font-size: 1rem;
  }
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  width: 10%;
  margin-left: -10%;
  margin-top: -4%;
}

.header {
  margin-top: 5%;
  min-height: 90vh;
  background-size: cover;
  background-attachment: fixed;
  color: #BB9A60;
  font-family: "Lato", sans-serif;
}

.header__content {
  position: absolute;
  top: 55%;
  left: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__content h1 {
  z-index: 100;
  margin-top: 40%;
  margin-left: 15%;
}

.header__content h2 {
  z-index: 100;
  margin-left: 15%;
}

.header__content a {
  font-family: "Montserrat", sans-serif;
  color: #BB9A60;
  font-size: 1.2rem;
}

.header .intro-pic {
  width: 90%;
  background-color: #2C3E50;
  padding: 100px 250px 100px 250px;
  margin: -400px 0 100px 100px;
}

.header .intro-pic img {
  margin: 45px 0 -100px 420px;
  -webkit-box-shadow: 35px 35px 1px -15px #BB9A60;
          box-shadow: 35px 35px 1px -15px #BB9A60;
  width: 90%;
}

.arrow {
  width: 50px;
  height: 50px;
  margin-top: 15%;
  background: #BB9A60;
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  color: #2C3E50;
}

.arrow i {
  font-size: 1.5rem;
  margin-top: 15px;
}

.arrow:hover {
  background-color: #141008;
}

@media all and (max-width: 1200px) {
  .header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo img {
    width: 10%;
    margin-left: -10%;
    margin-top: -3%;
    z-index: 100;
  }
  .header {
    min-height: 90vh;
  }
  .header__content {
    margin-top: -10px;
  }
  .header__content .intro-pic {
    padding: 0px 0px 0px 0px;
    margin: -220px -100px 40px 480px;
    background-color: #f1f1f1;
  }
  .header__content .intro-pic img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    -webkit-box-shadow: 15px 15px 1px -5px #BB9A60;
            box-shadow: 15px 15px 1px -5px #BB9A60;
    width: 60%;
  }
  .header .arrow {
    width: 30px;
    height: 30px;
    background: #BB9A60;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    color: #2C3E50;
  }
  .header .arrow i {
    font-size: 1.5rem;
    margin-top: 7px;
  }
  .header .arrow:hover {
    background-color: #141008;
  }
}

@media all and (max-width: 500px) {
  .header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo img {
    width: 25%;
    margin-left: -1%;
    margin-top: 5%;
    z-index: 100;
  }
  .header {
    min-height: 80vh;
  }
  .header__content {
    margin-top: -20px;
  }
  .header__content h2 {
    font-size: .6rem;
  }
  .header__content .intro-pic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 40px 10px 20px 10px;
    background-color: #f1f1f1;
  }
  .header__content .intro-pic img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    -webkit-box-shadow: 15px 15px 1px -5px #BB9A60;
            box-shadow: 15px 15px 1px -5px #BB9A60;
    width: 100%;
  }
  .header .arrow {
    width: 30px;
    height: 30px;
    background: #BB9A60;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    color: #2C3E50;
  }
  .header .arrow i {
    font-size: 1.5rem;
    margin-top: 7px;
  }
  .header .arrow:hover {
    background-color: #141008;
  }
}

@media all and (max-width: 320px) {
  .header-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo img {
    width: 25%;
    margin-left: -1%;
    margin-top: 5%;
    z-index: 100;
  }
  .header {
    min-height: 80vh;
  }
  .header__content {
    margin-top: -50px;
  }
  .header__content h1 {
    font-size: 1.4rem;
  }
  .header__content h2 {
    font-size: .5rem;
  }
  .header__content .intro-pic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 0px 0px 0px;
    margin: 40px 10px 20px 10px;
    background-color: #f1f1f1;
  }
  .header__content .intro-pic img {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    -webkit-box-shadow: 15px 15px 1px -5px #BB9A60;
            box-shadow: 15px 15px 1px -5px #BB9A60;
    width: 100%;
  }
  .header .arrow {
    width: 30px;
    height: 30px;
    background: #BB9A60;
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    text-align: center;
    color: #2C3E50;
  }
  .header .arrow i {
    font-size: 1.5rem;
    margin-top: 7px;
  }
  .header .arrow:hover {
    background-color: #141008;
  }
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  background-color: #f1f1f1;
  padding: 100px 0;
  height: 80vh;
}

.about h3 {
  text-align: center;
  margin-top: 150px;
}

.about img {
  width: 100%;
  -webkit-box-shadow: -30px 30px 1px -15px #BB9A60;
          box-shadow: -30px 30px 1px -15px #BB9A60;
  margin-top: 10%;
}

.about__content {
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__content--img {
  width: 30%;
  height: 30%;
}

.about__content--text {
  width: 60%;
  font-family: "Lato", sans-serif;
  text-align: justify;
  margin-top: -90px;
  line-height: 1.2;
}

.talk {
  color: #BB9A60;
  border-bottom: 2px solid #2C3E50;
}

.talk:hover {
  font-weight: 700;
}

.chevron {
  width: 50px;
  height: 50px;
  margin-top: 15%;
  background: #BB9A60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: absolute;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  color: #2C3E50;
}

.chevron i {
  font-size: 1.5rem;
  margin-top: 15px;
}

.chevron:hover {
  background-color: #141008;
}

@media all and (max-width: 500px) {
  .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about {
    padding: 20px 10px;
    margin: 50px 50px;
  }
  .about h3 {
    margin-top: 50px;
  }
  .about img {
    -webkit-box-shadow: -25px 25px 1px -15px #BB9A60;
            box-shadow: -25px 25px 1px -15px #BB9A60;
    margin-top: -10%;
  }
  .about__content--img {
    width: 50%;
    margin-top: 10px;
  }
  .about__content--text {
    width: 100%;
    margin-top: 10px;
  }
}

.skills {
  background-color: #f1f1f1;
  text-align: center;
  padding: 100px 100px;
  height: 70vh;
}

.skills h3 {
  padding-bottom: 20px;
  text-align: center;
}

.skills__list ul {
  text-align: center;
  padding-bottom: 50px;
}

.skills__list li {
  padding: 30px 80px 50px 50px;
  display: inline-block;
  width: calc(100% / 7);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.skills__list li p {
  text-align: center;
  font-weight: bold;
  text-align: justify;
}

.skills__list li i {
  font-size: 4rem;
  color: #2C3E50;
}

@media all and (max-width: 950px) {
  .skills__list li {
    width: calc(100% / 5);
  }
  .skills__list li i {
    font-size: 50px;
  }
}

@media all and (max-width: 500px) {
  .skills {
    padding: 200px 0px;
    margin-top: 0;
    height: 50vh;
  }
  .skills__list ul {
    padding: 0;
  }
  .skills__list li {
    padding: 0 70px 0 10px;
    margin: 5px;
    width: calc(100% / 7);
  }
  .skills__list li i {
    font-size: 3rem;
  }
}

.portfolio-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio {
  padding: 300px -10px;
}

.portfolio h3 {
  text-align: center;
}

.portfolio h4 {
  text-align: left;
  color: #2C3E50;
  width: 50%;
}

.portfolio img {
  width: 80%;
  -webkit-box-shadow: -25px 25px 1px -15px #BB9A60;
          box-shadow: -25px 25px 1px -15px #BB9A60;
}

.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 80px 0;
}

.portfolio__content--img {
  width: 50%;
}

.portfolio__content--text-right, .portfolio__content--text-left {
  width: 60%;
  text-align: justify;
}

.portfolio__content a {
  font-size: 1.4rem;
}

.portfolio__content a.btn {
  padding: 10px 10px 10px 10px;
  background-color: #BB9A60;
  color: #fff;
}

.portfolio__content .btn:hover,
.portfolio__content .btn:focus {
  color: #BB9A60;
  background-color: #141008;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.portfolio__content .recent-work-info li {
  font-size: 2.3rem;
  display: inline;
}

.portfolio__content .recent-work-info i {
  font-size: 3rem;
  padding: 10px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  color: #2C3E50;
}

@media all and (max-width: 1200px) {
  .portfolio-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .portfolio {
    padding: 120px 10px;
  }
}

@media all and (max-width: 1000px) {
  .portfolio-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .portfolio__content {
    padding: 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__content--img {
    width: 80%;
    margin: 0 auto;
  }
  .portfolio__content--text-right, .portfolio__content--text-left {
    width: 90%;
    padding: 0;
    margin: 0 auto;
  }
  .portfolio h4 {
    padding-top: 30px;
  }
}

@media all and (max-width: 500px) {
  .portfolio {
    padding: 200px -580px;
  }
  .portfolio h4 {
    width: 100%;
    text-align: center;
  }
  .portfolio__content {
    padding: 40px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .portfolio__content--img {
    width: 90%;
  }
  .portfolio__content--text-right, .portfolio__content--text-left {
    width: 100%;
  }
  .portfolio__content a {
    font-size: 1rem;
    text-decoration: none;
  }
  .recent-work-info li {
    font-size: 1rem;
    display: inline;
  }
  .recent-work-info i {
    font-size: .5rem;
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #2C3E50;
  }
}

.contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: -100px 0px;
}

.form-style {
  width: 100%;
}

.links li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  padding: 0 20px 0 20px;
}

.links i {
  font-size: 2rem;
  color: #BB9A60;
}

.links a:focus,
.links a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #f1f1f1;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.contact {
  background-color: #f1f1f1;
  padding: 0px 0;
  margin-bottom: 1rem;
  width: 100%;
}

.contact img {
  margin-bottom: -30px;
  width: 50%;
  -webkit-box-shadow: -30px 30px 1px -15px #BB9A60;
          box-shadow: -30px 30px 1px -15px #BB9A60;
  margin: 10%;
}

.contact p {
  text-align: left;
  font-size: 1rem;
  color: #BB9A60;
  margin-bottom: 50px;
}

.contact h3 {
  text-align: left;
}

.contact input[type="text"],
.contact input[type="email"] {
  width: 100%;
  background-color: #fff;
  margin-bottom: 2%;
  color: #000;
  font-family: inherit;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  border-bottom: 7px solid transparent;
  display: block;
}

.contact input[type="text"]:focus,
.contact input[type="email"]:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 20px rgba(187, 154, 96, 0.2);
          box-shadow: 0 10px 20px rgba(187, 154, 96, 0.2);
  border-bottom: 8px solid #BB9A60;
}

.contact input[type="text"]::-webkit-input-placeholder,
.contact input[type="email"]::-webkit-input-placeholder {
  color: #000;
}

.contact textarea {
  width: 100%;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 15px 20px;
  border-bottom: 8px solid transparent;
  resize: none;
}

.contact textarea::-webkit-input-placeholder {
  color: #000;
}

.contact textarea:focus {
  outline: none;
  -webkit-box-shadow: 0 10px 20px rgba(187, 154, 96, 0.2);
          box-shadow: 0 10px 20px rgba(187, 154, 96, 0.2);
  border-bottom: 8px solid #BB9A60;
}

.contact input[type="submit"] {
  border: none;
  padding: 10px 20px;
  background-color: #BB9A60;
  color: #fff;
  margin-top: 50px;
  text-align: center;
}

.contact input[type="submit"]:hover, .contact input[type="submit"]:focus {
  color: #BB9A60;
  background-color: #141008;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contact .btn {
  text-align: left;
}

.contact ::-webkit-input-placeholder {
  color: #000;
}

.contact :-ms-input-placeholder {
  color: #000;
}

.contact ::-ms-input-placeholder {
  color: #000;
}

.contact ::placeholder {
  color: #000;
}

@media all and (max-width: 500px) {
  .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 0px;
  }
  .contact-flex .links li {
    display: inline-block;
    padding: 0 20px 0 0px;
  }
  .contact-flex .links i {
    font-size: 1.3rem;
    color: #BB9A60;
  }
}

footer {
  background-color: #BB9A60;
  padding-top: 5px;
  color: #2C3E50;
  text-align: center;
  padding-bottom: 1px;
  position: relative;
}

footer ul {
  list-style-type: none;
}

footer li {
  padding: 10px;
}

footer p {
  font-size: 1rem;
  padding-top: 10px;
}

footer a {
  font-size: 1rem;
}

footer .top {
  bottom: 40px;
  right: 50px;
  position: fixed;
}

footer .top .up {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 10px;
  padding: 20px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  color: #2C3E50;
}

footer .top .up:hover, footer .top .up:focus {
  color: #BB9A60;
}

@media all and (max-width: 500px) {
  footer .top {
    bottom: 20px;
    right: 40px;
    position: fixed;
  }
  footer .top .up {
    width: 30px;
    height: 30px;
    position: absolute;
    padding: 10px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    font-size: 1.5rem;
    text-align: center;
    color: #2C3E50;
  }
}

@media all and (max-width: 900px) {
  footer .links {
    position: static;
  }
  footer .links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: inline-block;
  }
  footer .links i {
    font-size: 1.5rem;
  }
  footer .links li {
    display: inline-block;
    text-align: center;
  }
  footer .up {
    bottom: 120px;
  }
}
/*# sourceMappingURL=style.css.map */